.aboutMeProfilePic {
    margin: 10px;
    margin-top: 40px;
    border: solid white 5px;
    border-radius: 50%;
    height: 300px;
}
.aboutMeContent {
    width: 350px;
    margin-right: 30px;
    text-align: justify;
    text-indent: 30px;
    
}

.aboutMeContainer {
    max-width: 1000px;
    background-color: rgb(245, 245, 245);
}

.aboutMeParagraph1 {
    font-size: 110%;
}
.aboutMeParagraph2 {
    font-size: 110%;
    padding-left: 25px;
    padding-right: 25px;
}

.topMargin {
    margin-top: 25px;
    /* background: rgb(157,152,255);
background: linear-gradient(90deg, rgba(157,152,255,1) 0%, rgba(116,232,255,1) 88%); */
}
.connectIcon {
    height: 50px;
    margin-left: 10px;
}
.connectIcon:hover {
    cursor: pointer;
}
.softwareEngineering {
    text-align: justify;
    text-indent: 40px;
    width: 600px;
}