.list {
    list-style: none;
}

.blogPostParagraph {
    font-size: 125%;
    margin-left: 25px;
    margin-right: 25px;
}

.columnLeft {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

.columnMiddle {
    float: left;
    width: 60%;
    min-height: inherit;
    min-width: 600px;
    max-width: 1000px;
    margin-left: 25px;
    color: white;
    background-color: rgb(240, 240, 240);
}
.columnRight {
    float: left;
    margin-left: 10px;
    width: 600px;
}

.blogRow {
    /* margin: auto; */
    /* position: absolute; */
    /* top: 30px; */
    min-height: 100vh;
    background-color: rgb(145, 145, 145);
    color: rgb(235, 235, 235);
}

/* Clear floats after the columns */
/* .blogRow:after {
    content: "";
    display: table;
    clear: both;
} */

.blogBanner {
    width: 100%;
}

.bannerContainer {
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.bannerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hoverUnderline {
    text-decoration: none;
    color: black;
}

.hoverUnderline:hover {
    text-decoration: underline;
    cursor: pointer;
}